<mapper namespace="com.hx.dao.IUserDao">

    <select id="findAll" resultType="com.hx.pojo.User">
        select * from user
    </select>


    <select id="findByCondition" resultType="com.hx.pojo.User" parameterType="com.hx.pojo.User">
        select * from user_info where id = #{id} and password = #{password}
    </select>

</mapper>